/* css */

body {
	font-size: 13px;
	font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
	background: #fdfdfd;
	color: #242424;
	line-height: 1.3em;
}

/* universal text formatting */
p { font-size: 24px; color: #242424; line-height: normal; letter-spacing: .9px; text-decoration: none; margin-bottom: 1em; }

a:link { text-decoration: underline; color: #242424; }
a:active { text-decoration: none; color: #242424; }
a:visited { text-decoration: none; color: #242424; }
a:hover { text-decoration: none; }
a img { border: none; }

#exhibit p, code, blockquote { width: 450px; margin-bottom: 1em; }

#exhibit {
	width: 100vw;
	position: relative;
	max-width: 100%;
}

#sign {
	width: 100vw;
	z-index: 5;
	top: 0;
	background: #fdfdfd;
	margin: 0 auto;
}

#nav {
	width: 100vw;
	height: auto;
	z-index: 4;
	height: 100%;
}

/* styling the nav */
#nav ul { list-style: none; margin: 0; }
#nav ul.wing { margin-bottom: 3em; }
#nav ul.subsection { margin-bottom: 3em; }
#nav p { margin-bottom: 1em; }

/* this is where you adjust your paddings for #sign, #nav, and #exhibits together */
.container {
	padding: 20px;
	/*width: 65vw;*/
}

/* this is where you pad them separately */
#nav .container {
	width: 100%;
	background: #fdfdfd;
	overflow: scroll;
	margin: 0 auto;
	padding-top: 0;
}
#exhibit .container {
	padding-top: 0;
}
#bio .container {
	margin: 0 auto;
	max-width: 750px;
}
#sign .container {
}
.gallery {
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-width: 750px;
}
#directory  {
	max-width: 750px;
	margin: 0 auto;
	margin-bottom: 100px;
}

/* sign and nav elements */
#sign a {
	text-decoration: underline;
}
#sign p {
margin: 0 auto;
	margin-bottom: 0;
	max-width: 750px;
}

/* exhibit elements */

.exhibit_title {
	margin-bottom: 1em;
}
img {
	/*max-height: 80vh;*/
	width: 100%;
	margin-bottom: 2em;
}
#tall {
	max-height: 90vh;
}
.video {
	height: 80vh;
	min-width: 65vw;
	margin-bottom: 2em;
	position: relative;
	z-index: 2;
}
iframe {
	width: 100%;
	height: 100%;
}
#tombstone {
	margin-bottom: 2em;
	position: relative;
	z-index: 2;
}
#tombstone p {
	color: #242424;
	width: 100%;
}
#tombstone a {
	text-decoration: underline;
}
#info_desk ul {
	margin-bottom: 0;
}
#exhibit_00 {
	margin-bottom: 0;
}
