/** CSS */

body {
	font-size: 13px;
	font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
	background: #fdfdfd;
	color: #000;
	line-height: 1.3em;
	height:100vh
	/* font-weight: 300; */
}

a:link { text-decoration: none; color: #444; }
a:active { text-decoration: none; color: #444; }
a:visited { text-decoration: none; color: #444; }
a:hover { text-decoration: none; }
a img { border: none; }

large { font-size: 14px; margin-bottom: 2em; }
small { font-size: 12px; }
code { font-family: monospace; }
blockquote { padding-left: 9px; }

#nav p { margin-bottom: 1em; }
#exhibit p, code, blockquote { width: 450px; margin-bottom: 1em; /* line-height: 1.3em; */ }

/* never adjust the margin or padding here unless you seriously know what you are doing */
/* think #index .container and #exhibit .container for only padding adjustments */
#nav { width: 230px; background: #fdfdfd; /* line-height: 1.3em; */ }
#exhibit {
	margin: 0 0 0 230px;
	position: relative;
}
#bio { margin: 0 0 0 215px; }

/* styling the nav */
#nav ul { list-style: none; margin: 0; }
#nav ul.wing { margin-bottom: 3em; }
#nav ul.subsection { margin-bottom: 3em; }

/* active section title */
#nav span.active_section_title,
#nav span.active_section_title a { font-weight: bold; }

/* this is where you adjust your paddings for #index and #exhibit together */
.container {
	margin: 40px 15px 40px 40px;
}

/* this is where you pad them separately */
#nav .container { position:fixed; }
#exhibit .container {
	position: absolute;
	padding-left: 15px;
}
.gallery {
	height: auto;
}

.exhibit_title {
	margin-bottom: 1em;
}

.picture {
	max-height: 80vh;
	max-width: 65vw;
	margin-bottom: 2em;
}

.video {
	height: 65vh;
	min-width: 65vw;
	margin-bottom: 2em;
	position: relative;
	z-index: 2;
}

iframe {
	width: 100%;
	height: 100%;
}

#tombstone {
	margin-bottom: 2em;
	position: relative;
	z-index: 2;
}
#tombstone p {
	color: #444;
	width: 100%;
}
#tombstone a {
	/* font-weight: bold; */
	text-decoration: underline;
}

/*.exhibit_title { position: relative; overflow:auto; }
.wing { margin-bottom: 1em; } */

/* carousel buttons */
.button {
	position:absolute; top:0px; z-index:1;
}

#left-button {
	left:0px; /*background-color:#d33; opacity:.5;*/ cursor:w-resize;*/
}

#right-button {
	right:0px; /*background-color:#3dd; opacity:.5;*/ cursor:e-resize;
}

.container .button {
	height: 100%;
	width: 50%;
}

div .button {
	padding:inherit;
}
